@font-face {
  font-family: "Cammron";
  src: url("../fonts/CammronDemo.otf") format("truetype");
}

@font-face {
  font-family: "MADE Bon Voyage";
  src: url("../fonts/MADE\ Bon\ Voyage\ Regular\ PERSONAL\ USE.otf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "MADE Bon Voyage";
  src: url("../fonts/MADE\ Bon\ Voyage\ Thin\ PERSONAL\ USE.otf")
    format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "MalgunGothic";
  src: url("../fonts/Malgun-Gothic_29381.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "MuktaMahee";
  src: url("../fonts/MuktaMahee-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("../fonts/HindSiliguri-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("../fonts/HindSiliguri-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("../fonts/HindSiliguri-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("../fonts/HindSiliguri-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("../fonts/HindSiliguri-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-Thin.otf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-Light.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-Regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-Medium.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-Bold.otf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-Black.otf") format("truetype");
  font-weight: 900;
}
