body {
  margin: unset;
  max-height: 100vh;
  overscroll-behavior-x: none;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: unset;
}

main#main {
  overscroll-behavior-x: none;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: none;
}

main > * {
  max-height: 100vh;
  height: 100vh;
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}

#main-navigation-bar-asterisk > img {
  animation: spinning 10s linear infinite;
}

nav#main-navigation-bar {
  display: flex;
  flex-direction: column-reverse;
  border-right: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav#main-navigation-bar > ul {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline: 0px;
}

.dir-left-to-letter-top {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

nav#main-navigation-bar > ul > li {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
}

nav#main-navigation-bar > div#main-navigation-bar-asterisk {
  flex-shrink: 0;
  text-align: center;
}

nav#main-navigation-bar > div#main-navigation-bar-asterisk > img {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}

section#introduction {
  display: flex;
  flex: 1;
  flex-direction: row;
}

div#introduction-text {
  display: flex;
  flex-direction: column;
  min-width: max-content;
  margin-left: 5em;
  margin-top: 5em;
  margin-right: 8em;
}

div#introduction-text > p#detailed-introduction {
  max-width: 260px;
  line-height: 1.5em;
  word-wrap: break-word;
  white-space: pre-line;
  flex: 6;
}

div#introduction-text > h2#summarized-introduction {
  line-height: 100%;
  text-align: right;
  font-size: 2em;
  font-weight: 400;
}

div#introduction-text > div#spacing {
  flex: 9;
}

div#phrases {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  overflow-x: unset;
  /* max-height: 1024px; */
  margin-right: 10em;
}

div#phrases > h1.phrase-text {
  font-size: 10em;
  font-weight: 400;
  margin-top: 0px;
  line-height: 1.2em;
  margin-bottom: 0px;
  white-space: nowrap;
}

div#phrases > h1#phrase-1 {
  margin-left: -0.5em;
}

div#phrases > h1#phrase-2 {
  margin-left: 0;
}

div#phrases > h1#phrase-3 {
  margin-left: -1em;
}

section#prologue {
  display: flex;
  flex-direction: row;
  border-left: 1px solid black;
}

div#prologue-left-box {
  display: flex;
  flex-direction: column;
  flex: 7;
  width: 370px;
  padding-left: 120px;
  padding-right: 120px;
}

div#prologue-top-blank {
  height: 250px;
  display: flex;
  flex: 0.8;
}
div#prologue-middle-box {
  display: flex;
  flex: 2;
  flex-direction: column;
}

p#prologue-text {
  word-break: keep-all;
  line-height: 1.8em;
}

div#prologue-bottom-box {
  display: flex;
  justify-content: flex-end;
}

div#prologue-bottom-box > img {
  max-width: 240px;
  max-height: 240px;
}

div#prologue-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}

.big-text-box {
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid gray;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-right: 0.5px solid gray;
  white-space: nowrap;
  overflow: hidden;
}

.big-text-box > * {
  display: inline-block;
  animation: marquee 10s linear infinite;
  font-size: 10em;
}

section#profile {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
}

#profile-pr {
  width: 300px;
  padding-left: 160px;
  padding-right: 180px;
  padding-top: 70px;
}

#profile-pr-text > .title {
  font-size: 50px;
}

#profile-pr-text > .title > .title02 {
  font-weight: bold;
}

#profile-pr-image > img {
  width: 200px;
  padding-bottom: 40px;
}

#profile-pr-personal-info > p.my-name {
  font-size: 26px;
  line-height: 7px;
}

#profile-pr-personal-info > p.korean {
  font-weight: 700;
}

#profile-pr-personal-info > .my-email {
  font-size: 18px;
  font-weight: 300;
}

#profile-detail {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 100px;
}

#profile-detail > * > * {
  width: 450px;
}

#profile-detail .subtitle {
  font-size: 22px;
  font-weight: 700;
}

#profile-detail .subtitle::before {
  content: "ï¼";
  font-style: italic;
  margin-right: 10px;
}

#profile-detail-career-skill {
  display: flex;
  flex-direction: row;
}

#profile-detail-license-education-experience {
  display: flex;
  flex-direction: row;
}

#profile-detail-education-experience {
  display: flex;
  flex-direction: column;
}

#profile-detail .profile-detail-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 26px;
}

#profile-detail div.profile-detail-row p {
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}

#profile-detail div.profile-detail-row > p.profile-detail-year,
p.profile-detail-skillname {
  font-weight: 300;
  margin-right: 25px;
  width: 100px;
}

section#contents {
  display: flex;
  flex-direction: row;
  background-color: black;
}

section#contents * {
  color: white;
}

#content-left-box {
  padding-left: 6em;
  margin-right: 25px;
}

section#contents .portfolio-content > img.hover-image {
  display: none;
}

section#contents .portfolio-content:hover > img.normal-image {
  display: none;
}

section#contents .portfolio-content:hover > img.hover-image {
  display: initial;
}

#content-right-box > * {
  animation: marquee 30s linear infinite;
}
